.NavHead {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    font-size: 2rem;
    padding: 2rem;
}
.IconNav {
    color: #ffffff;
}
.Heart{
  position: relative;
  left: 0.33%;
  right: 9.33%;
  top: 9.93%;
  bottom: 12.91%;
}
.heartsymbol{
  position: relative;
  left: -12.56%;
  right: -13.5%;
  top: -16.22%;
  bottom: 32.72%;
  color: #ffffff;

}
.archive {
  position: relative;
  left: 13.55%;
  right: 11.5%;
  top: -11%;
  bottom: 32.72%;
  color: #ffffff;
  /* overflow: visible; */
}
.NavBtn {
  padding: 0.9rem;
  float: satoshi;
  border-radius: 50px;
  background: #121b27;
  color: #ffffff;
  border-right: 1px solid #a632cf; 
  border-left: 1px solid #4c06e3; 
  border-top: 1px solid #6A10F2; 
  border-bottom: 1px solid #ae36cb; 
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
.NavBtn:hover {
  background-color: #000;
}
.IconNav span {
  color: linear-gradient(92.7deg, #5404FF 7.9%, #BA2AD1 88.1%);
}


