*{
    padding: 0;
}
section {
    color: #fff;
}
/* .mainsection {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/*  */
.formHead {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.email,.name,.btnSubmit {
    padding: 10px;
}
input, button {
    width: 300px;
    height: 50px;
}
input {
    border-radius: 10px;
}
button {
    border-radius: 50px;
}
.ellipse39 {
    /* Ellipse 39 (1) */
    display: flex;
    justify-content: right;
    
}
.starOne {
    position: relative;
    top: -30%;
    bottom: -19%;
    right: -20.30%;
}
.mainsection {
    display: flex;
    justify-content: space-between;
}
.SectionHeader h1{
    text-align: center;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
}
.ellipse37 {
    position: relative;
    width: 32px;
    height: 40px;
    right: -130px;
    top: 30px;
}
.SectionHeader span{
    color: #A75FD2;
}
/* Star 3 */
.StarThree{
position: relative;
width: 32px;
height: 40px;
left: -230px;
top: 130px;
}
/* Turn your best customers into Loyal fans */
/* .mainsection h2 {
position: absolute;
width: 802px;
height: 166px;
left: 319px;
top: 248px;
font-family: 'Satoshi';
line-height: 130%;
/* or 83px */
/* } 
 span {
    color: #A75FD2;
}  */
/* h1 {
    font-family: Satoshi;
    font-style: normal;
    font-size: 64px;
    text-align: center;
    color: #FFFFFF;
} */