*{
    padding: 0;
}
section {
    color: #fff;
}
.formHead {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.email,.name,.btnSubmit {
    padding: 10px;
}
input {
    width: 300px;
    height: 50px;
    display: grid;
    place-items: center;
}
input {
    border-radius: 10px;
    background: rgb(18,27,39);
    border: 2px solid #ffffff

}
.mainText {
    display: grid;
    place-content: center;
    
}
.mainText p{
    display: flex;
    flex-direction: column;
    place-items: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    width: 938px;
}
.ellipse37::after {
        position: absolute;
        width: 32px;
        height: 40px;
        right: 10px;
        top: 30px;
    }

button {
    border-radius: 50px;
}
.submit {
    width: 300px;
    height: 50px;
    background: linear-gradient(112.92deg, #5404FF 18.35%, rgba(189, 59, 210, 0.94) 71.49%);
    border: none;
    font-family: 'Satoshi';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
}
button:hover{
    background: #000;
}
.ellipse39 {
    position: absolute;
    height: 102px;
    left: 70%;
    top: 126px;
    
}
.starOne {
    position: relative;
    top: -30%;
    bottom: -19%;
    right:-35.33%;
}
.mainsection {
    display: flex;
    justify-content: space-between;
}
.SectionHeader h1{
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
}
.ellipse37 {
    position: relative;
    width: 32px;
    height: 40px;
    right: -130px;
    top: 30px;
}
.SectionHeader span{
    color: #A75FD2;
}
/* Star 3 */
.StarThree{
    position: relative;
    height: 40px;
    left: -230px;
    top: 130px;
}
/* icon */
.emailIcon {
    position: relative;
    left: 4.33%; 
    right: 8.33%;
    top: 2.1rem;
     bottom: 8.33%;
   
}
/* input text */
input[type='text'] {
    color: #ffffff;
    font-family: 'Satoshi';
    text-indent: 30px;
    box-sizing: border-box;
    text-transform: capitalize;
    
}
/* placeholder */
::placeholder {
    font-family: 'Satoshi';
    color: #ffffff;
    margin-left: -20px;
    padding: 35px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
/* UserCircle */
.UserCircle {
    position: relative;
    left: -1.99%;
    padding-right: 5px;
    right: -8.33%;
    top: 2.53rem;
    bottom: 8.33%;
}
/* UserOutline */
.UserOutline {
    position: relative;
    left: 3.50%;
    right: 8.33%;
    top: 2.5rem;
    bottom: 8.33%;
    width: 13.48px;
    height: 15.77px;
}
/* EllipseBlur */
.EllipseBlur{
    position: absolute;
    left: 80%;
    top: 46%;
    bottom: 0%;
}
/* ArrowHead */
.ArrowHead {
position: absolute;
/* height: 1024px; */
left: 63.33%;
top: 80%;
}
.StarFour {
    position: absolute;
    width: 48px;
    height: 64px;
    left: 90%;
    top: 105%;
}
.LastSection {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}
.LastSection span{
    position: relative;
    left: 22%;
}
.StarFive {
    position: absolute;
    width: 48px;
    height: 64px;
    left: 180px;
    top: 900px;
}
/* cicles below the button */
.ellpse2, .ellpse3,.ellpse4 {
    margin-left: -20px;
}
/* text inside the circle */
.circleText span, .O span, .U span {
    position: relative;
    left: -22px;
    top: -10px;
    color: #FCFCFC;
}
/* +57 Joined */
.updateText{
    font-family: 'Satoshi';
    font-style: normal;
    width: 84px;
    height: 22px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}